@font-face {
    font-family: playfair;
    src: url(../fonts/PlayfairDisplay-Regular.ttf)
}

@font-face {
    font-family: sofia;
    src: url(../fonts/sofiapro-light.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-page {
    display: flex;
    color: #E1EEED;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00625C;
    width: 17%;
}

.admin-page {
    display: flex;
    font-family: sofia;
}

.admin-page img {
    width: 200px;
}

.sidebar .logo {
    display: flex;
    margin: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: playfair;
    letter-spacing: -4px;
    color: #E1EEED;
    margin-bottom: 50px;
}

.sidebar .logo p {
    margin-left: 30px;
}

.items > *,
.bottom > * {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    padding-left: 40px;
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.items > *:hover,
.bottom > *:hover {
    background-color: #F6F6F6;
    color: #00524D;
    font-weight: bold;
    cursor: pointer;
}   

.items img,
.bottom img {
    width: 25px;
}

.bottom {
    margin-bottom: 40px;
}

.container {
    width: 83%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333333;
    background-color: #F6F6F6;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 2.5em;
}

.header button {
    font-size: 1.25em;
    font-weight: lighter;
    color: #F8F8F8;
    font-family: sofia;
    background-color: #00625C;
    border-radius: 15px;
    border-style: none;
    padding: 15px 50px;
}

.content img {
    width: 30px;
}

.content {
    display: flex;
    gap: 20px;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.in,
.num {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.in {
    font-size: 1.5em;
}

.num {
    font-size: 2em;
}

.text {
    font-size: 1.25em;
}

.num {
    font-weight: lighter;
    font-size: 1.15em;
}

.num img {
    width: 15px;
}

.card > p {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-content {
    width: 1000px;
    display: flex;
    gap: 20px;
}

.card {
    width: 400px;
}

.card,
.activity {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 40px;
}

.activity > .top {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: inherit;
}

.activity > img {
    width: 850px;
    margin: auto;
}

.left {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: auto;
    height: 90%;
}

.right {
    width: 400px;
    border-radius: 10px;
    height: 90%;
    margin-bottom: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.notification {
    font-weight: bold;
    font-size: 2em;
    padding: 30px;
    margin-bottom: 20px;
}

.notif-text {
    margin: 200px auto;
    width: 70%;
    font-size: 1.25em;
    color: #595959;
    text-align: center;
}

