@font-face {
    font-family: playfair;
    src: url(../fonts/PlayfairDisplay-Regular.ttf)
}

@font-face {
    font-family: sofia;
    src: url(../fonts/sofiapro-light.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-page {
    display: flex;
    color: #E1EEED;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00625C;
    width: 17%;
}

.admin-page {
    display: flex;
    font-family: sofia;
}

.admin-page img {
    width: 200px;
}

.sidebar .logo {
    display: flex;
    margin: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: playfair;
    letter-spacing: -4px;
    color: #E1EEED;
    margin-bottom: 50px;
}

.sidebar .logo p {
    margin-left: 30px;
}

.items > *,
.bottom > * {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    padding-left: 40px;
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.items > *:hover,
.bottom > *:hover {
    background-color: #F6F6F6;
    color: #00524D;
    font-weight: bold;
    cursor: pointer;
}   

.items img,
.bottom img {
    width: 25px;
}

.bottom {
    margin-bottom: 40px;
}

.text {
    font-size: 1.25em;
}

.container {
    background-color: #F6F6F6;
    width: 83%;
    padding: 2%;
    display: flex;
    color: #333333;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 32px;
}

.cards-container{
    padding: 2%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 40%;
    height: 30%;
    border-radius: 16px;
    padding: 4%;
    background-color: #afcfcd;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:contain;    
    background-repeat: no-repeat;   
    background-position: center;
    background-size: 100% 100%;

}

.card h2{
    margin: 0 0 16px 0;
}

.c1, .c3{
    margin-right: 4%;
}

.long-card{
    width: 84%;
    height: 25%;
    border-radius: 16px;
    background-color: #afcfcd;
}

.notif-card-container{
    width: 35%;
    padding: 3%;
}

.notif-card{    
    height: 100%;
    border-radius: 16px;
    background-color: #afcfcd;
    padding: 8%;
    display: flex;
    flex-direction: column;
}

.notif-slide{
    height: 8%;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #00625b54;
}

.patient header {
    display: flex;
    align-items: center;
    margin: 50px;
    justify-content: space-around;
}

.patient h2 {
    font-size: 2em;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    font-family: sofia;
    padding-left: 20px;
    border: 1px solid #B9B9B9;
}


