@font-face {
    font-family: playfair;
    src: url(../fonts/PlayfairDisplay-Regular.ttf)
}

@font-face {
    font-family: sofia;
    src: url(../fonts/sofiapro-light.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-page {
    display: flex;
    color: #E1EEED;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00625C;
    width: 17%;
}

.admin-page {
    display: flex;
    font-family: sofia;
}

.admin-page img {
    width: 200px;
}

.sidebar .logo {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    margin-top: 40px;
    font-family: playfair;
    letter-spacing: -4px;
    color: #E1EEED;
    margin-bottom: 50px;
}

.sidebar .logo p {
    margin-left: 30px;
}

.items > *,
.bottom > * {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    padding-left: 40px;
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.items img,
.bottom img {
    width: 25px;
}

.items,
.bottom {
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-bottom: 40px;
}

.records {
    margin-top: 10px;
}

.text {
    font-size: 1.25em;
}

.container {
    background-color: #F6F6F6;
    width: 83%;
    display: flex;
    color: #333333;
    flex-direction: column;
}

.patient {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.patient h2 {
    font-size: 2.5em;
    color: #333333;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.15em;
    background-color: transparent;
    font-family: sofia;
    padding-left: 20px;
    border: 1px solid #B9B9B9;
}


.header button {
    border-radius: 10px;
    font-size: 1.25em;
    width: 150px;
    height: 50px;
    font-family: sofia;
    border-style: none;
    margin: 1px;
}

.search-button {
    background-color: #00625C;
    color: #F6F6F6;
}

.add-patient-button {
    background-color: #6ABCB8;
    color: #333333;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: right;
}

td button {
    margin: auto;
}

table {
    border-collapse: collapse;
    font-size: 1.25em;
    border-radius: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #dddddd77;
}

button:hover {
    background-color: #00625C;
    color: #ffffff;
}

.search-button:hover,
.add-patient-button:hover {
    background-color: #00524D; 
    cursor: pointer;
}

tr td:last-child {
    display: flex;
}

th:last-child {
    width: 200px
}

.update-button {
    background-color: white;
    border: 1px solid #B9B9B9;
    color: #6ABCB8;
}

tr button {
    padding: 5px 10px;
    background-color: #6ABCB8;
    color: #333333;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    width: 120px;
    height: 40px;
    font-family: sofia;
    font-weight: lighter;
    border-style: none;
    
}

.stay {
    background-color: #dddddd88;
    border-radius: 10px;
}

.items > *:hover,
.bottom > *:hover {
    background-color: #F6F6F6;
    color: #00524D;
    font-weight: bold;
    cursor: pointer;
}